
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyLedger | 403 Page not found</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
</head>
<body >
   
       
    
           
                <div class="error-page">
                    <h2 class="headline text-warning"> 403</h2>

                    <div class="error-content">
                        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! ooppss! bu sayfaya erişim izniniz yok :(</h3>

                <p><a href="/Dashboard/Index/">Lütfen geri dönün!</a></p>


                       
                    </div>
                    <!-- /.error-content -->
                </div>
                <!-- /.error-page -->
          
    

</body>
</html>

